@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html{
    //BUG , the implemented code from the docs of angular material is not working, giving the undefined mixin error
    
    .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button{
        @apply rounded-md
    }
}


.container {
    @apply mx-auto max-w-screen-2xl px-7;
}

.text-primary{
    color: #7d00fa;
} 

button.match-input-height {
    height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
    border-right-style:none !important;
}

.mat-mdc-snack-bar-container.snack-error {
    --mdc-snackbar-container-color : #f44336;
    --mat-snackbar-button-color : #fff;
    --mdc-snackbar-supporting-text-color : #fff;
    --mdc-snackbar-text-color : #fff;
    --mdc-snackbar-action-text-color : #fff;
    --mdc-snackbar-action-color : #fff;

}

.mat-mdc-snack-bar-container.snack-success {
    --mdc-snackbar-container-color : #4caf50;
    --mat-snackbar-button-color : #fff;
    --mdc-snackbar-supporting-text-color : #fff;
    --mdc-snackbar-text-color : #fff;
    --mdc-snackbar-action-text-color : #fff;
    --mdc-snackbar-action-color : #fff;
}