skinet/API/appsettings.json
skinet/Infrastructure/obj/Debug/net8.0/Infrastructure.sourcelink.json
skinet/Infrastructure/obj/Debug/net8.0/ref/Infrastructure.dll
skinet/API/obj/Debug/net8.0/API.AssemblyInfo.cs
skinet/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
skinet/Infrastructure/obj/Debug/net8.0/refint/Infrastructure.dll
skinet/Infrastructure/obj/Debug/net8.0/ref/Infrastructure.dll
skinet/Infrastructure/obj/Debug/net8.0/Infrastructure.csproj.AssemblyReference.cache
skinet/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
skinet/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
skinet/Infrastructure/bin/Debug/net8.0/Infrastructure.pdb
skinet/Infrastructure/bin/Debug/net8.0/Infrastructure.dll
skinet/API/obj/Debug/net8.0/refint/API.dll
skinet/API/obj/Debug/net8.0/ref/API.dll
skinet/API/obj/Debug/net8.0/apphost.exe
skinet/API/bin/Debug/net8.0/API.dll
skinet/API/bin/Debug/net8.0/API.exe
skinet/API/bin/Debug/net8.0/API.pdb
skinet/API/bin/Debug/net8.0/Core.dll
skinet/API/bin/Debug/net8.0/Core.pdb
skinet/API/bin/Debug/net8.0/Infrastructure.dll
skinet/API/bin/Debug/net8.0/Infrastructure.pdb
skinet/API/obj/Debug/net8.0/API.AssemblyInfo.cs
skinet/API/obj/Debug/net8.0/API.AssemblyInfoInputs.cache
skinet/API/obj/Debug/net8.0/API.dll
skinet/API/obj/Debug/net8.0/API.sourcelink.json
skinet/API/obj/Debug/net8.0/apphost.exe
skinet/API/obj/Debug/net8.0/ref/API.dll
skinet/API/obj/Debug/net8.0/refint/API.dll
skinet/Core/bin/Debug/net8.0/Core.dll
skinet/Core/bin/Debug/net8.0/Core.pdb
skinet/Core/obj/Debug/net8.0/Core.AssemblyInfo.cs
skinet/Core/obj/Debug/net8.0/Core.AssemblyInfoInputs.cache
skinet/Core/obj/Debug/net8.0/Core.csproj.CoreCompileInputs.cache
skinet/Core/obj/Debug/net8.0/Core.AssemblyInfo.cs
skinet/Core/obj/Debug/net8.0/Core.AssemblyInfoInputs.cache
skinet/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfo.cs
skinet/Infrastructure/obj/Debug/net8.0/Infrastructure.AssemblyInfoInputs.cache
skinet/API/bin/Debug/net8.0/API.dll
skinet/API/bin/Debug/net8.0/API.dll
