<div class="container mt-5 p-4 bg-gray-100 rounded shadow-lg">
    <h1 class="text-2xl font-semibold mb-4">Internal Server Error</h1>
    @if (error) {
        <h5 class="text-red-500">Error : {{error.message}}</h5>
        <p class="font-bold mb-2">This error comes from the server, not Angular.</p>
        <p class="mb-2">What to do next?</p>
        <ol class="list-decimal ml-5 mb-4">
            <li class="mb-1">Check the network tab in chrome dev tools.</li>
            <li class="mb-1">Check that your API is running.</li>
            <li class="mb-1">Examine the error details for more information.</li>
        </ol>
        <h5 class="text-lg font-semibold mb-2">Stack Trace</h5>
        <mat-card class="bg-gray-50 p-4 rounded shadow">
            <pre class="text-sm text-gray-700 overflow-auto">{{error.details}}</pre>
        </mat-card>
    }
</div>